version: "3.9"

services:
  backend:
    build:
      context: ./server # path to your backend folder
    ports:
      - "5000:5000"
    environment:
      - MONGODBCONNECTION=${MONGODBCONNECTION}
      - REDIS_URL=${REDIS_URL}
    depends_on:
      - mongo
      - redis

  mongo:
    image: mongo:6
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  redis:
    image: redis:7
    ports:
      - "6379:6379"

volumes:
  mongo-data:
